<!DOCTYPE html>
<html>
<head>
  <title>CoderBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:300,400,700' %>
  <%= javascript_include_tag 'https://use.fontawesome.com/78eefa216f.js' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCVUI4Vh1osOw3dRVvLfsg97DKv3fWlE3I' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
